body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

div.grid {
  display: grid;
  grid-template-columns: 1400px;
  grid-template-rows: 50px 90px 40px repeat(128, 56px) auto;
}

div.title_box {
  background-color: #222222;
  font-size: 26px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 2px;
  border-radius: 6px;
  width: 1390px;
  grid-column-start: 1;
  grid-column-end: 1;
}

div.controls_box {
  height: 80px;
  margin: 2px;
  width: 1400px;
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
  grid-template-columns: 30px 30px 30px 160px 910px 140px 54px 50px;
  grid-template-rows: 35px 35px;
}

div.headings_box {
  background-color: #222222;
  padding-top: 10px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1400px;
  display: grid;
  grid-template-columns: 40px 100px 280px 180px 180px 160px 160px 140px 100px;
  grid-template-rows: 30px;
}

a.job_box_normal {
  background-color: #222222;
  padding-top: 18px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1400px;
  display: grid;
  grid-template-columns: 40px 100px 280px 180px 180px 160px 160px 140px 100px;
  grid-template-rows: 50px;
  font-size: 14px;
}

a.job_box_failed {
  background-color: #400000;
  padding-top: 18px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1400px;
  display: grid;
  grid-template-columns: 40px 100px 280px 180px 180px 160px 160px 140px 100px;
  grid-template-rows: 50px;
  font-size: 14px;
}

a.job_box_finished {
  background-color: #004000;
  padding-top: 18px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1400px;
  display: grid;
  grid-template-columns: 40px 100px 280px 180px 180px 160px 160px 140px 100px;
  grid-template-rows: 50px;
  font-size: 14px;
}

div.select_heading {
  grid-column-start: 1;
}

div.id_heading {
  grid-column-start: 2;
}

div.filename_heading {
  grid-column-start: 3;
}

div.type_heading {
  grid-column-start: 4;
}

div.status_heading {
  grid-column-start: 5;
}

div.progress_heading {
  grid-column-start: 6;
}

div.user_heading {
  grid-column-start: 7;
}

div.started_heading {
  grid-column-start: 8;
}

div.priority_heading {
  grid-column-start: 9;
}

div.select_data {
  grid-column-start: 1;
}

div.id_data {
  grid-column-start: 2;
}

div.filename_data {
  grid-column-start: 3;
}

div.type_data {
  grid-column-start: 4;
}

div.status_data {
  grid-column-start: 5;
}

div.progress_data {
  grid-column-start: 6;
}

div.user_data {
  grid-column-start: 7;
}

div.started_data {
  grid-column-start: 8;
}

div.priority_data {
  grid-column-start: 9;
}

div.job_page_grid {
  display: grid;
  grid-template-columns: 1400px;
  grid-template-rows: 50px 44px 44px 44px 44px 44px 44px 44px 44px 44px 44px 44px 44px 44px 44px auto;
}

div.job_page_title_box {
  background-color: #222222;
  font-size: 26px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 2px;
  border-radius: 6px;
  width: 1418px;
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
  grid-template-columns: 1250px 150px;
  grid-template-rows: 45px;
}

div.job_data_box {
  background-color: #222222;
  padding: 14px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1400px;
  display: grid;
  grid-template-columns: 200px 1000px;
  grid-template-rows: 40px;
  font-size: 13px;
}

div.job_data_label {
  grid-column-start: 1;
}

div.job_data_value {
  grid-column-start: 2;
}

div.last_page {
  background-color: #222222;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: 5px;
  grid-column-start: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 21px;
}

div.next_page {
  background-color: #222222;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: 5px;
  grid-column-start: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 21px;
}

div.arrow_right {
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 35px solid #ffffff;
}

div.arrow_left {
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right:35px solid #ffffff;
}

div.job_number {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  margin-top: 16px;
  padding-top: 8px;
  padding-left: 8px;
  border-radius: 3px;
  background-color: #222222;
  font-size: 14px;
  height: 20px;
  min-width: 180px;
  max-width: 300px;
}

div.page_number {
  grid-column-start: 6;
  width: 120px;
  margin-top: 12px;
  border-radius: 3px;
  background-color: #222222;
  font-size: 14px;
  padding-top: 6px;
  padding-left: 6px;
  height: 20px;
}

div.size_button_16 {
  background-color: #222222;
  width: 21px;
  height: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 2px;
  grid-column-start: 1;
  grid-row-start: 1;
  margin-top: 12px;
  font-size: 14px;
}

div.size_button_32 {
  background-color: #222222;
  width: 21px;
  height: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 2px;
  grid-column-start: 2;
  grid-row-start: 1;
  margin-top: 12px;
  font-size: 14px;
}

div.size_button_64 {
  background-color: #222222;
  width: 21px;
  height: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 2px;
  grid-column-start: 3;
  grid-row-start: 1;
  margin-top: 12px;
  font-size: 14px;
}

div.size_button_128 {
  background-color: #222222;
  width: 27px;
  height: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 2px;
  grid-column-start: 4;
  grid-row-start: 1;
  margin-top: 12px;
  font-size: 14px;
}

div.middle_placeholder {
  grid-column-start: 5;
}

div.page_form {
  margin-top: 18px;
  grid-row-start: 2;
  grid-column-start: 6;
  margin-left: 32px;
}

input.go_button {
  background-color: #222222;
  color: #ffffff;
  border: 0px;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 4px;
  border-radius: 2px;
  height: 22px;
  margin-left: 4px;
}

input.page_input {
  background-color: #000000;
  color: #ffffff;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding-top: 4px;
  border-radius: 6px;
  height: 22px;
  border: 2px solid #ffffff;
}

div.abort_button {
  background-color: #000000;
  font-size: 16px;
  padding-top: 5px;
  border-radius: 6px;
  width: 100px;
  padding-left: 56px;
  height: 22px;
}
