body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

div.grid {
  display: grid;
  grid-template-columns: 1400px;
  grid-template-rows: 50px 90px 40px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px auto;
}

div.title_box {
  background-color: #222222;
  font-size: 26px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 2px;
  border-radius: 6px;
  width: 1390px;
  grid-column-start: 1;
  grid-column-end: 1;
}

div.controls_box {
  height: 80px;
  padding: 8px;
  margin: 2px;
  width: 1400px;
  grid-column-start: 1;
  grid-column-end: 1;
}

div.headings_box {
  background-color: #222222;
  padding-top: 10px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1400px;
  display: grid;
  grid-template-columns: 40px 100px 280px 180px 180px 160px 160px 140px 100px;
  grid-template-rows: 30px;
}

div.job_box_normal {
  background-color: #222222;
  padding-top: 18px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1400px;
  display: grid;
  grid-template-columns: 40px 100px 280px 180px 180px 160px 160px 140px 100px;
  grid-template-rows: 50px;
  font-size: 14px;
}

div.job_box_failed {
  background-color: #400000;
  padding-top: 18px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1400px;
  display: grid;
  grid-template-columns: 40px 100px 280px 180px 180px 160px 160px 140px 100px;
  grid-template-rows: 50px;
  font-size: 14px;
}

div.job_box_finished {
  background-color: #004000;
  padding-top: 18px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1400px;
  display: grid;
  grid-template-columns: 40px 100px 280px 180px 180px 160px 160px 140px 100px;
  grid-template-rows: 50px;
  font-size: 14px;
}

div.select_heading {
  grid-column-start: 1;
}

div.id_heading {
  grid-column-start: 2;
}

div.filename_heading {
  grid-column-start: 3;
}

div.type_heading {
  grid-column-start: 4;
}

div.status_heading {
  grid-column-start: 5;
}

div.progress_heading {
  grid-column-start: 6;
}

div.user_heading {
  grid-column-start: 7;
}

div.started_heading {
  grid-column-start: 8;
}

div.priority_heading {
  grid-column-start: 9;
}

div.select_data {
  grid-column-start: 1;
}

div.id_data {
  grid-column-start: 2;
}

div.filename_data {
  grid-column-start: 3;
}

div.type_data {
  grid-column-start: 4;
}

div.status_data {
  grid-column-start: 5;
}

div.progress_data {
  grid-column-start: 6;
}

div.user_data {
  grid-column-start: 7;
}

div.started_data {
  grid-column-start: 8;
}

div.priority_data {
  grid-column-start: 9;
}

div.job_page_grid {
  display: grid;
  grid-template-columns: 1400px;
  grid-template-rows: 50px 44px 44px 44px 44px 44px 44px 44px 44px 44px 44px 44px 44px 44px 44px auto;
}

div.job_page_title_box {
  background-color: #222222;
  font-size: 26px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 2px;
  border-radius: 6px;
  width: 1412px;
  grid-column-start: 1;
  grid-column-end: 1;
}

div.job_data_box {
  background-color: #222222;
  padding: 14px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1400px;
  display: grid;
  grid-template-columns: 200px 1000px;
  grid-template-rows: 40px;
  font-size: 13px;
}

div.job_data_label {
  grid-column-start: 1;
}

div.job_data_value {
  grid-column-start: 2;
}
